body{
  background-color: black !important;
}
.navy{
  color: antiquewhite !important;
}
.vote{
  background-color: #dc3241;
  padding: 5px;
  font-weight: 900;
  color: #fff;
  border-radius: 10px;
  }
  .brdr{
  height: 2px;
  background-color: rgba(199, 191, 191, 0.678);
  }
  .moviees{
    display: flex !important;
    flex-wrap: wrap !important;
  }
  a{
    text-decoration: none !important;
  }